body {
	background-color: powderblue;
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
	
}

h1 {
	font-family: 'Roboto', sans-serif;
	
}

#content{
	float: left;
	width: 80%;
	
}

#navbar{
	float: left;
	width: 20%;
	
	

}
#container{
	position: fixed, bottom;
	margin-bottom: 10px;
	color: white; 
	
}
